.main_body {
  width: 1250px;
}
.main_body .title_tapic {
  margin-top: 50px;
  padding-left: 30px;
  background-image: url('../images/icon_tapic.png');
  background-repeat: no-repeat;
  background-position: center left;
  color: #212b3d;
  font-size: 18px;
  font-weight: bold;
}
.main_body .topic_box {
  width: 948px;
}
.main_body .topic_box .movieall .movie_box {
  background: #fff;
  border-radius: 6px;
  height: 166px;
  width: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  float: left;
  margin-top: 26px;
  overflow: hidden;
}
.main_body .topic_box .movieall .movie_box:nth-child(3n-1) {
  margin-left: 24px;
  margin-right: 24px;
}
.main_body .topic_box .movieall .movie_box .img_box {
  position: relative;
}
.main_body .topic_box .movieall .movie_box .img_box img {
  width: 100%;
  height: 122px;
}
.main_body .topic_box .movieall .movie_box .img_box .info {
  position: absolute;
  width: 100%;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  bottom: 0;
  left: 0;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
}
.main_body .topic_box .movieall .movie_box p {
  line-height: 44px;
  margin-bottom: 0;
  padding-left: 12px;
  font-size: 16px;
}
.main_body .topic_box .movieall .movie_box p {
  color: #333333;
}
.main_body .topic_box .movieall .movie_box:hover p {
  color: #78b1da;
}
.main_body .hot_search {
  width: 276px;
  padding: 12px;
  background: #fff;
  margin-top: 28px;
  color: #474d5a;
  font-size: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}
.main_body .hot_search .title {
  padding-bottom: 12px;
  color: #474d5a;
}
.main_body .hot_search ul li {
  border-top: 1px solid #ddd;
  padding: 15px 0;
  font-size: 16px;
}
.main_body .hot_search ul li:nth-child(1) span {
  background-color: #9d68ee;
}
.main_body .hot_search ul li:nth-child(2) span,
.main_body .hot_search ul li:nth-child(3) span {
  background-color: #2fe8c4;
}
.main_body .hot_search ul li span {
  margin-right: 12px;
  color: #fff;
  background: #cacdcf;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  width: 22px;
  height: 22px;
}
.main_body .hot_search ul li p {
  margin: 0;
  display: inline-block;
  font-size: 16px;
  color: #212b3d;
}
.main_body .hot_search ul li .up,
.main_body .hot_search ul li .down,
.main_body .hot_search ul li .nochange {
  width: 10px;
  height: 22px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  float: right;
  margin-right: 10px;
}
.main_body .hot_search ul li .up {
  background-image: url('../images/up.png');
}
.main_body .hot_search ul li .down {
  background-image: url('../images/down.png');
}
.main_body .hot_search ul li .nochange {
  background-image: url('../images/nochange.png');
}
section.topic_title_box {
  width: 100%;
  height: 400px;
  text-align: center;
  position: relative;
}
section.topic_title_box .topic_title_img_box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
section.topic_title_box .mask {
  background-image: url('../images/black_front.png');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
section.topic_title_box .tag_box {
  width: 150px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -75px;
  border: 0;
}
section.topic_title_box .tag_box li {
  position: relative;
}
section.topic_title_box .tag_box li a {
  color: #838c96;
  padding: 0;
  padding-bottom: 18px;
  font-size: 28px;
}
section.topic_title_box .tag_box li:hover a,
section.topic_title_box .tag_box li.active a {
  background: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  color: #fff;
}
section.topic_title_box .tag_box li:after {
  content: '';
  display: block;
  width: 37px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -20px;
  left: 15px;
  background-image: url(../images/tab_selected.png);
  transition: all 0.2s;
  opacity: 0;
}
section.topic_title_box .tag_box li.active {
  height: 60px;
}
section.topic_title_box .tag_box li.active:after {
  opacity: 1;
}
section.topic_title_box .tag_box li.new_btn:before,
section.topic_title_box .tag_box li.hot_btn:before {
  content: '';
  display: block;
  width: 0px;
  height: 0px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  transition: all 0.5s;
  background-image: url('../images/icon_new.png');
  opacity: 0;
  background-size: 90%;
}
section.topic_title_box .tag_box li.hot_btn:before {
  background-image: url('../images/icon_hot.png');
}
section.topic_title_box .tag_box li.new_btn.active:before,
section.topic_title_box .tag_box li.hot_btn.active:before {
  width: 37px;
  height: 35px;
  top: -30px;
  right: -30px;
  opacity: 1;
}
.recommend {
  width: 1300px;
  text-align: left;
  margin-bottom: 60px;
  margin-top: 30px;
}
.recommend .gray-btn {
  background: #cacfd2;
  line-height: 50px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  margin-bottom: -6px;
}
.recommend .gray-btn.refresh {
  margin: 15px auto;
  margin-top: 32px;
}
.recommend .gray-btn.refresh img {
  margin-right: 10px;
}
.recommend .gray-btn .num {
  color: #7a40e4;
  margin: 0 0.5rem;
}
.recommend .move_box {
  width: 300px;
  height: 0px;
  padding-bottom: 260px;
  margin-top: 26px;
  margin-right: 24px;
  position: relative;
}
.recommend .move_box:nth-child(4n) {
  margin-right: 0;
}
.recommend .move_box .move_box_mask {
  width: 100%;
  background: #fff;
  transition: all 0.5s;
  position: absolute;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 0;
  top: 0;
  left: 0;
  color: #373737;
}
.recommend .move_box .move_box_mask:hover {
  width: 102%;
  margin-left: -1%;
}
.recommend .move_box .move_box_mask .img_box {
  height: 168px;
  overflow: hidden;
}
.recommend .move_box img {
  width: 100%;
}
.recommend .move_box .moveInfo {
  padding: 10px;
}
.recommend .move_box .moveInfo p {
  padding: 0;
  margin: 0;
  height: 5rem;
  line-height: 2.2rem;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
}
.recommend .move_box .moveInfo .operation .watch_box,
.recommend .move_box .moveInfo .operation .like_box,
.recommend .move_box .moveInfo .operation .comment_box {
  color: #bbb;
  display: inline-block;
  text-align: left;
}
.recommend .move_box .moveInfo .operation .watch_box i,
.recommend .move_box .moveInfo .operation .like_box i,
.recommend .move_box .moveInfo .operation .comment_box i {
  width: 18px;
  display: inline-block;
  margin-right: 8px;
}
.recommend .move_box .moveInfo .operation .watch_box i img,
.recommend .move_box .moveInfo .operation .like_box i img,
.recommend .move_box .moveInfo .operation .comment_box i img {
  margin-top: -3px;
}
.recommend .move_box .moveInfo .operation .watch_box {
  width: 50%;
  padding-left: 0;
}
.recommend .move_box .moveInfo .operation .like_box {
  margin-right: 1rem;
}
.recommend .move_box .moveInfo .operation .comment_box {
  vertical-align: super;
}
.recommend .move_box .moveInfo .operation .comment_box i img {
  margin-top: -5px;
}
